<template>
  <div class="movie">
    <Movie :movie="movie" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters } from 'vuex';
import MovieService from '@/services/MovieService';
import { MovieDetail } from '@/services/types';

import Movie from './Movie.vue';

export default Vue.extend({
  name: 'MovieWrapp',
  props: {
    movieId: {
      type: String,
    },
  },
  data() {
    return {
      movie: {} as MovieDetail,
    };
  },
  components: { Movie },
  methods: {
    async getMovie() {
      this.movie = await MovieService.movieService
        .getSpecificMovie(this.user.apiToken, this.movieId);
    },
  },
  computed: {
    ...mapGetters(['user']),
  },
  watch: {
    movieId: {
      handler() {
        this.getMovie();
      },
      immediate: true,
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
