<template>
  <div class="movie">
    <div class="movie__error" v-if="movie.Error">
      <h2 >{{movie.Error}}</h2>
    </div>
    <div class="movie__body" v-else>
      <h1 v-if="movie.Title !== 'N/A'">{{movie.Title}}</h1>
      <h2 v-if="movie.Year !== 'N/A'">{{movie.Year}}</h2>
      <p v-if="movie.Plot !== 'N/A'">{{movie.Plot}}</p>
      <img v-if="movie.Poster !== 'N/A'" :src="movie.Poster" :alt="movie.Title"/>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { MovieDetail } from '@/services/types';

export default Vue.extend({
  name: 'Movie',
  props: {
    movie: {
      type: Object,
    } as PropOptions<MovieDetail>,
  },
});
</script>

<style scoped lang="scss">
  .movie__error {
    h2 {
      color: red;
    }
  }
</style>
