<template>
  <div class="home">
    <img alt="Batman logo" src="../assets/logo.png" />
    <MovieList />
  </div>
</template>

<script>
import MovieList from '@/components/Home/MovieList.vue';

export default {
  name: 'Home',
  components: {
    MovieList,
  },
};
</script>
