<template>
  <div class="movie-view">
    <Movie :movie-id="movieId"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Movie from '@/components/MovieView/MovieWrapp.vue';

export default Vue.extend({
  name: 'MovieView',
  components: { Movie },
  computed: {
    movieId() {
      return this.$route.params.movieId;
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
