<template>
  <div class="movies-list">
    <div class="movies-list__filter">
      <MovieFilter v-model="filtred"/>
    </div>
    <MovieListItem
      v-for="movie in movies"
      :key="movie.imdbID"
      :movie-title="movie.Title"
      :movie-id="movie.imdbID"
    />
    <div class="movies-list__pagination">
      <a v-if="movies.length < numberOfResult" href="#" @click.prevent="loadMore">Load More...</a>
      <div class="movies-list__pages">
        {{movies.length}} / {{numberOfResult}}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters, mapActions, mapMutations } from 'vuex';

import MovieListItem from './MovieListItem.vue';
import MovieFilter from './MovieFilter.vue';

export default Vue.extend({
  name: 'MovieList',
  components: {
    MovieListItem,
    MovieFilter,
  },
  data() {
    return {
      filtred: '',
    };
  },
  created() {
    this.getMovieList();
    this.filtred = this.getFilter;
  },
  methods: {
    ...mapActions(['getMovieList', 'loadMore']),
    ...mapMutations(['setFilter']),
  },
  computed: {
    ...mapGetters(['user', 'movies', 'numberOfResult', 'getFilter']),
  },
  watch: {
    filtred(val) {
      this.setFilter(val);
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .movies-list__pagination {
    margin-top: 20px;
  }
  .movies-list__pages {
    color: lightgray;
  }
</style>
