<template>
  <div class="filter">
    <label
      v-for="filter in filters"
      :key="filter.name"
    >
      <input type="radio" name="filter"
        :value="filter.type"
        :checked="value === filter.type"
        @change="$emit('input', $event.target.value)"
      />
      {{filter.name}}
    </label>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'MovieFilter',
  props: {
    value: {
      type: String,
    },
  },
  data() {
    return {
      filters: [
        { name: 'all', type: '' },
        { name: 'series', type: 'series' },
        { name: 'movies', type: 'movie' },
      ],
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .filter {
    padding: 20px 0;
  }
</style>
