<template>
  <div class="hello">
    <router-link :to="{ name: 'MovieView', params: { movieId }}">
      {{ movieTitle }}
    </router-link>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'MovieListItem',
  props: {
    movieTitle: {
      type: String,
    },
    movieId: {
      type: String,
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
